/* General Styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    background-color:#202020;
  }
  
  img {
    width:60%;
    margin-left:25%;
  }
  
  h1{
    color:#fff;
    font-size:18px;
  }
  
  p{
    color:#fff;
  }

  hr {
    width: 350px;
  }

  footer hr {
    width:60%;
    margin: auto;
  }

  button {
    padding:5px;
  }
  
  
  textarea {
      width: 75%;
      height: 300px;
  }
  
  form {
      width:50%;
      margin-left:25%;
      margin-top: 5%;
      border: 10px rgb(47, 0, 255) solid;
      padding: 5%;
      color: #fff;
  }
  
  footer {
    text-align:center;
  }
/* General Styles */
  
  .menu {
     width:60%;
     margin-left:25%;
     background-color: #313b3d;
     padding:15px;
  }
  
  .menu ul li {
    display:inline-block;
    margin-right:3%;
    color:#fff;
  }
  
  .menu ul li a{
    text-decoration: none;
    color:#fff;
  }
  
  .vertical-line{
    border:1px solid #fff;
    display:inline;
    margin-right:25px;
  }
  
  
  .sidebar {
    margin-left: 25%;
    flex: 1  400px;
  }
  
  .sidebar ul li {
    color:rgb(189, 183, 183);
    list-style-type: square;
    font-size:14px;
    margin-left: 1%;
    margin-top: 1%;
  }
  
  .main-menu {
    margin-left:2%;
  }
  
  .block {
    margin-left:2%;
  }

  .block-p {
    font-size:10px;
  }

  .block-content{
    font-size:14px;
    width:125%;
  }
  
 
  
  .container{
    display:flex;
  }
  
  
  
  .gallery {
    width:100%;
    padding-left:30px;
  }
  
  .gallery-content{
    width:30%;
  }
  
  .part-1 {
    padding:30px;
    flex:1;
  }
  
  .part-2 {
    padding: 30px;
    flex:1;
  }
  
  
  
  
  